/* ::-webkit-scrollbar {
    border-radius:
} */

::-webkit-scrollbar-thumb {  border-radius: 5px;background: #f60;}
::-webkit-scrollbar  {
    /* background: #f60; */
    /* border-radius: 50%; */
}

li:global(.ant-pagination-item:hover) {
    background-color: blue;
    border-color: blue;
}

li:global(.ant-pagination-item:hover) * {
    color: #fff;
}
